# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env*
!.env.example

# Cache
.cache/
.temp/

# Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
